{{#each this}}
  <li class='glide__slide--elem footer-modal__card'>
    <div class='border__outside'>
      <div class='border__inside'>
        <img class='student-foto' src={{img}} alt={{name}} />
      </div>
    </div>
    <div class='student__card'>
      <h3 class='student__name'>{{name}}</h3>
      <p class='student__role'>{{role}}</p>
      <ul class='footer__social'>
        <li class='footer__sociallink'>
          <a class='student__link fa-xl' href={{ginHabLink}} target='_blank'>
            GitHub 
          </a>
        </li>
        <li class='footer__sociallink'>
          <a class='student__link fa-xl' href={{LN_Link}} target='_blank'>
            LinkedIn
          </a>
        </li>
      </ul>

      <p class='student__about'>
        {{discription}}
      </p>
    </div>
  </li>
{{/each}}